$primary-color: #191e3a;
$secondary-color: #105b63;
$active: #25d5e4;
$yellow-ligth: #fafafa;
$blue-ligth: #007bff;
$red: #e7515a;
$orange: #db4932;
$gray: #888ea8;
$gray-ligth: #eee;
$yellow: #e2a03f;
$green: #009688;